.Form,
.Form:focus {
  color: rgb(251, 255, 0);
  border: none;
  background: black;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
}

.Button {
  background-color: purple;
  box-shadow: 0 0 1rem 1rem green;
  border-radius: 2rem;
  color: rgb(251, 255, 0);
  border: none;
}

.Button:hover,
.Button:focus,
.Button:hover i,
.Button:focus i {
  background-color: green;
  box-shadow: 0 0 1rem 1rem purple;
  border-radius: 2rem;
  color: yellow;
  margin: 0.5rem 2rem 0.5rem 2rem;
  text-shadow: violet 0.1rem 0.1rem 0.1rem;
}

.Form input:focus {
  color: rgb(251, 255, 0);
  border: none;
  background: black;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
}