.NavLink {
    color: indigo;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0.02rem 0.02rem 0 blue;
}

.NavBar {
    margin: 1rem;
    background-color: rgb(0, 0, 0);
    border: 0.3rem solid rgb(121, 7, 136);
    color: indigo;
    border-radius: 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
    color: indigo;
}



.NavLink:hover {
    cursor: pointer;
    text-decoration: none;
    text-shadow: blue 1rem 0.5rem 1rem;
    transition: text-shadow ease-in-out 0.3s;
}

.NavLink {
    padding: 0.5rem;
}

.Active {
    text-shadow: blue 1rem 0.5rem 1rem;
}
